# Emacs backup files

*~
.#*
\#*\#
session.*
*.elc

# Backup dir
.backup/

# TAGS
TAGS
GTAGS
GRTAGS
GPATH

# etc
init.elc
.framesize
.session
.scratch
plugins/taihi/
diff
history
test
url/
plugins/twittering-mode/cert/
.mc-lists.el
eshell/

# ignore diff files
*.diff
*.orig
*.patch

# ignore archive directory
elpa/archives

# quickrun temporary file
qr_*.el

# elpa
elpa/
